name: CI

on:
  push:
  pull_request:

jobs:
  build-and-test:
    runs-on: windows-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup NuGet
        uses: NuGet/setup-nuget@v2

      - name: Setup MSBuild
        uses: microsoft/setup-msbuild@v2

      - name: Restore NuGet packages
        run: nuget restore App_WebForm.sln

      - name: Build Solution
        run: msbuild App_WebForm.sln /p:Configuration=Release

      - name: Run Tests
        run: |
          vstest.console.exe **\bin\Release\*Tests.dll
